{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment"
                      class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_ngenius_status" id="input-status" class="form-control">
                                {% if payment_ngenius_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip"
                                                                                      title="{{ title }}">{{ title }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_ngenius_title" value="{{ payment_ngenius_title }}"
                                   placeholder="{{ title }}" id="input-total" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ environment }}</label>
                        <div class="col-sm-10">
                            <select name="payment_ngenius_environment" id="input-order-status" class="form-control">
                                {% if payment_environment == text_uat %}
                                    <option value="{{ text_uat }}" selected="selected">{{ uat }}</option>
                                    <option value="{{ text_live }}">{{ live }}</option>
                                {% elseif payment_environment == text_live %}
                                    <option value="{{ text_uat }}">{{ uat }}</option>
                                    <option value="{{ text_live }}" selected="selected">{{ live }}</option>
                                {% else %}
                                    <option value="{{ text_uat }}">{{ uat }}</option>
                                    <option value="{{ text_live }}">{{ live }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip"
                                                                                      title="{{ uat_api_url_value }}">{{ uat_api_url_text }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_ngenius_uat_api_url"
                                   value="{{ payment_ngenius_uat_api_url }}" placeholder="{{ uat_api_url_text }}"
                                   class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip"
                                                                                      title="{{ live_api_url_value }}">{{ live_api_url_text }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_ngenius_live_api_url"
                                   value="{{ payment_ngenius_live_api_url }}" placeholder="{{ live_api_url_text }}"
                                   id="input-total" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ payment_action }}</label>
                        <div class="col-sm-10">
                            <select name="payment_ngenius_payment_action" id="input-order-status" class="form-control">
                                {% if payment_actions == text_sale %}
                                    <option value="{{ text_authorize }}">{{ authorize }}</option>
                                    <option value="{{ text_sale }}" selected="selected">{{ sale }}</option>
                                    <option value="{{ text_purchase }}">{{ purchase }}</option>
                                {% elseif payment_actions == text_authorize %}
                                    <option value="{{ text_authorize }}" selected="selected">{{ authorize }}</option>
                                    <option value="{{ text_sale }}">{{ sale }}</option>
                                    <option value="{{ text_purchase }}">{{ purchase }}</option>
                                {% elseif payment_actions == text_purchase %}
                                    <option value="{{ text_authorize }}">{{ authorize }}</option>
                                    <option value="{{ text_sale }}">{{ sale }}</option>
                                    <option value="{{ text_purchase }}" selected="selected">{{ purchase }}</option>
                                {% else %}
                                    <option value="{{ text_authorize }}">{{ authorize }}</option>
                                    <option value="{{ text_sale }}">{{ sale }}</option>
                                    <option value="{{ text_purchase }}">{{ purchase }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-order-status">{{ order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_ngenius_order_status_id" id="input-order-status" class="form-control">
                                {% for status in order_statuses %}
                                    <option value="{{ status.value }}" selected="selected">{{ status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip"
                                                                                      title="{{ outlet_ref }}">{{ outlet_ref }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_ngenius_outlet_ref"
                                   value="{{ payment_ngenius_outlet_ref }}" placeholder="{{ outlet_ref }}"
                                   id="input-total" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="">
                            <span data-toggle="tool-tip" title="{{ add_outlet_ref }}">{{ add_outlet_ref }}</span>
                        </label>
                        <div class="col-sm-2">
                            <button class="btn btn-primary" name="add_outlet_ref"
                                    id="add_outlet_ref">{{ add_outlet_button_text }}</button>
                        </div>
                    </div>
                    <div id="additional_outlet_fields">
                        {% set i = 0 %}
                        {% for extra in payment_ngenius_extra_outlet %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Currency &amp; Outlet Reference ID {{ i + 1 }}</label>
                                <div class="col-sm-1">
                                    <input type="text" name="payment_ngenius_extra_currency[]"
                                           placeholder="Currency" class="form-control"
                                           value="{{ payment_ngenius_extra_currency[i] }}">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="payment_ngenius_extra_outlet[]"
                                           placeholder="Outlet Reference" class="form-control"
                                           value="{{ payment_ngenius_extra_outlet[i] }}">
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-danger"
                                            data-id="{{ i }}"
                                            name="remove_outlet_ref">{{ remove_outlet_button_text }}</button>
                                </div>
                            </div>
                            {% set i = i + 1 %}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip"
                                                                                      title="{{ api_key }}">{{ api_key }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_ngenius_api_key" value="{{ payment_ngenius_api_key }}"
                                   placeholder="{{ api_key }}" id="input-total" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ debug }}</label>
                        <div class="col-sm-10">
                            <select name="payment_ngenius_debug" id="input-status" class="form-control">
                                {% if payment_ngenius_debug %}
                                    <option value="1" selected="selected">{{ text_debug_yes }}</option>
                                    <option value="0">{{ text_debug_no }}</option>
                                {% else %}
                                    <option value="1">{{ text_debug_yes }}</option>
                                    <option value="0" selected="selected">{{ text_debug_no }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order">{{ sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_ngenius_sort_order"
                                   value="{{ payment_ngenius_sort_order }}" placeholder="{{ entry_sort_order }}"
                                   id="input-sort-order" class="form-control"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!---------- Cron section ----------------->
    <div id="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_cron_heading }}</h3>
                </div>
                <div class="panel-body">
                    <strong>{{ text_cron_description }}</strong>
                </div>
                <div class="panel-body">
                    <a style="color: #00aff0;text-decoration: none">*/60 * * * * curl "{{ cron_url }}"</a>
                </div>
            </div>
        </div>
    </div>

</div>

{{ footer }}
